https://ftp.eso.org/pub/dfs/pipelines/libraries/edps/edps-1.5.5.tar.gz
https://ftp.eso.org/pub/dfs/pipelines/libraries/adari_core/adari_core-1.0.0.tar.gz
https://www.eso.org/~szampier/edps/edpsgui-0.0.1.tar.gz
https://www.eso.org/~szampier/edps/edpsplot-0.1.0.tar.gz 
